.login-page {
    background: {
        image: url(image-path('login-bg.jpg'));
        position: center;
        size: cover;
    }
}

.login-page__logo {
    margin: {
        top: 25px;
        bottom: 25px;
    }

    @include media-breakpoint-up(md) {
        margin: {
            top: 65px;
            bottom: 65px;
        }
    }
}

.login-page__card {
    max-width: 580px;
    margin-bottom: 25px;

    @include media-breakpoint-up(md) {
        margin-bottom: 65px;
    }
}